version: "3"
services:
  indico-web: &indico-web
    image: getindico/indico:latest
    command: /opt/indico/run_indico.sh
    depends_on:
      - indico-redis
      - indico-celery
    ports:
      - "59999"  # tcp socket port
    networks:
        - backend
        - frontend
    env_file:
      - indico.env
    volumes:
      - 'nginx-log:/opt/indico/archive'
      - 'archive:/opt/indico/log/nginx'
      - 'customization:/opt/indico/custom'
      - 'static-files:/opt/indico/static'
    tmpfs:
      - /opt/indico/tmp
  indico-static:
    image: docker.the-admins.ch/indico-static
    networks:
      - frontend
  indico-celery:
    <<: *indico-web
    networks:
      - backend
    depends_on:
      - indico-redis
    command: /opt/indico/run_celery.sh
    ports: []
    volumes: []
  indico-redis:
    image: redis
    networks:
      - backend
    volumes:
      - 'redis:/data'
  indico-postgres:
    image: centos/postgresql-96-centos7
    networks:
      - backend
    environment:
      - POSTGRESQL_USER=indico
      - POSTGRESQL_PASSWORD=indicopass
      - POSTGRESQL_DATABASE=indico
      - POSTGRESQL_ADMIN_PASSWORD=indicopass
  indico-nginx:
    image: docker.the-admins.ch/nginx-build
    networks:
      - frontend
    env_file:
      - indico.env
    ports:
      - "8080:8080"
    volumes:
      - 'nginx-log:/opt/indico/archive'
      - 'archive:/opt/indico/log/nginx'
      - 'customization:/opt/indico/custom'
      - 'static-files:/opt/indico/static'
volumes:
  static-files:
  customization:
  nginx-log:
  archive:
  redis:
networks:
  backend: {}
  frontend: {}
